@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f5f5f5;
  --gradient-bg: linear-gradient(90deg, #ffb6c1, #ff69b4, #e63946);
}

@font-face {
  font-family: "Dancing Script";
  src: url("/font/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("/heart.svg") no-repeat, var(--gradient-bg);
  background-size: contain; /* Użyj 'contain', aby całość serca była widoczna */
  background-position: center center; /* Wyśrodkuj tło w pionie i poziomie */
  background-attachment: fixed; /* Zablokuj tło, aby pozostało na miejscu podczas przewijania */
  background-blend-mode: overlay; /* Jeśli chcesz połączyć gradient z tłem */
  @apply text-primary; /* Przykładowe ustawienie koloru tekstu */
  height: 100vh; /* Ustaw wysokość na 100% widoku, aby serce było na pełnym ekranie */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-header font-bold text-center;
  font-family: "Dancing Script", cursive;
  text-shadow: 1px 1px 0 var(--primary), -1px -1px 0 var(--primary),
    1px -1px 0 var(--primary), -1px 1px 0 var(--primary);
}

.header {
  @apply text-3xl md:text-5xl lg:text-6xl xl:text-7xl;
}

.image {
  @apply w-40 md:w-44 rounded-lg transition-all duration-300 ease-in-out border-2;
}

.heart-img {
  @apply w-40 md:w-44 lg:w-64 -mx-5;
}

.paragraph {
  @apply text-center md:text-lg lg:text-xl bg-accent p-2 rounded-lg w-full;
}
